//Permet d'ajouter une boite avec une couleur d'arrière-plan sur une balise de type bloc.

.alert {
  padding: rem(12) rem(20);
  margin-bottom: rem(1);
  border: 1px solid transparent;
  border-radius: $global-radius;
}


.alert-primary{
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-secondary{
  color: #464a4e;
  background-color: #e7e8ea;
  border-color: #dddfe2;
}

.alert-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning{
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}