.button {
  display: block;
  width: 120px;
  text-align: center;
  background: $color-background-secondary;
  border: 1px solid #dddddd;
  text-decoration: none;
  color: $color-link;
  padding: 10px 20px;
  border-radius: $global-radius;
  margin: 20px auto 0;

  &:hover {
    background: $color-background-primary;
    color: #fff;
    border-color: $color-accent-primary;
  }

  &-inv {
    background: $color-accent-primary;
    color: #fff;
    border-color: $color-accent-primary;

    &:hover {
      border-color: #dddddd;
      color: $color-text;
      background: $color-background-secondary;
    }
  }
}
