nav {
  background: #f7f7f7;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        padding: 10px;
        margin: 10px 10px;
        display: block;
        color: $color-text;
        text-decoration: none;
        border-radius: $global-radius;

        &:hover {
          background: $color-background-secondary;
        }
      }
    }
  }
}
