

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: $fw-bold;
}

h1 {
  font-size: rem(40);
}
h2 {
  font-size: rem(32);
}
h3 {
  font-size: rem(28);
}
h4 {
  font-size: rem(24);
}
h5 {
  font-size: rem(20);
}
h6 {
  font-size: rem(16);
}

