//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR


//Niveau de gris
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


// Couleur de base
$color-primary: #bada55;
$color-secondary: #888;
$color-light: lighten($color-primary, 15%);
$color-lightest: lighten($color-primary, 25%);
$color-shadow: darken($color-primary, 15%);
$color-brand: #239bf6;

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;


$color-white:           #fff;
$color-black:           #303044;
$color-black-50:        rgba($color-black, .5);  // Noir transparent



//Couleur projet spécifique
$color-background-primary: tomato;
$color-accent-primary: $color-black;
$color-background-secondary: #fff;

// Texte
$color-text: #636363;

//Liens
$color-link: $color-primary;
$color-link-hover:  $color-shadow;
$color-link-hover:  $color-shadow;
$color-link-hover:  $color-shadow;
$color-link-hover:  $color-shadow;


// Buttons
$color-btn:         $color-primary;
$color-btn-hover:   $color-shadow;

$color-project-blue: rgba(1, 22, 39, 1);
$color-project-teal: rgba(46, 196, 182, 1);
$color-project-red: rgba(231, 29, 54, 1);
$color-project-yellow: rgba(255, 159, 28, 1);


$color-text-primary: #007bff;
$color-text-secondary: #868e96;
$color-text-success: #28a745;
$color-text-danger: #dc3545;
$color-text-warning: #ffc107;
$color-text-info: #17a2b8;
$color-text-light: #f8f9fa;
$color-text-dark: #343a40;
$color-text-muted: #868e96;
$color-text-white: #fff;


