//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

$page-padding: 15px;

// Dimensions pour le wrapper
$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;

// Dimension pour les media query
$breakpoints-vw-xs: 0;
$breakpoints-vw-sm: 576px;
$breakpoints-vw-md: 768px;
$breakpoints-vw-lg: 992px;
$breakpoints-vw-xl: 1200px;
