//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE

/// Font family
$ff-heading: 'Source Sans Pro', sans-serif;
$ff-normal: 'Source Sans Pro', sans-serif;

// font-size du texte normal
$fz-smallest: rem(12);
$fz-small: rem(14);
$fz-base: rem(16);
$fz-large: rem(20);
$fz-largest: rem(36);
$fz-biggest: rem(44);

// line heights
$lh-thin:  1.1;
$lh-normal: 1.4;
$lh-large:  1.6;


/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;